/* ==== General styles ==== */
body {
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

a {
  text-decoration: none;
}
a:focus {
  /* (doesn`t exist in layout) but looks cool (specialy social-links) */
  border-radius: 15px;
  outline: 1px solid #404bbf;
  outline-offset: 6px; /* distancing from text, but without adding paddings */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  margin: 0 auto;
}

input,
textarea {
  background-color: transparent;
}

label {
  display: block;
}

/* transition settings */
.navigation-link,
.contacts-link,
.button-order,
.team-social-links-link,
.portfolio-card,
.portfolio-card-overlay,
.bigsymbol-social-links-link,
.backdrop,
.order-modal-window,
.close-btn,
.close-btn svg,
.input-container,
.input-container input,
.input-icon,
.form-comment-textarea,
.order-form textarea,
.order-form-btn,
.custom-checkbox {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.button {
  padding-right: 24px;
  padding-left: 24px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition-property: background-color;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  outline: 1px solid #ffffff; /* looks prettier (doesn`t exist in layout) */
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 5%; /* 16px/320=5% */
}
/* ==== /General styles ==== */

/* ==== Header styles ==== */
/* burger-menu styles */
/* burger-by-spans */
#burger-icon-container {
  position: fixed;
  top: 15px;
  right: calc(
    5% - 5px
  ); /* 5% as section-container-padding, -5px of element padding */
  z-index: 1001;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}
#burger-icon {
  width: 16.8px;
  height: 16.8px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#burger-icon span {
  position: absolute;
  display: block;
  width: 8.4px; /* width: 50%; */
  height: 2.4px;
  background-color: #2f2f37;
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#burger-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
#burger-icon span:nth-child(odd) {
  left: 0;
  border-radius: 9px 0 0 9px;
}

#burger-icon span:nth-child(1),
#burger-icon span:nth-child(2) {
  top: 1px;
}
#burger-icon span:nth-child(3),
#burger-icon span:nth-child(4) {
  top: 7px;
}
#burger-icon span:nth-child(5),
#burger-icon span:nth-child(6) {
  top: 13px;
}

#burger-icon.open {
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: 3.2px 8px; /* move left-down */
  border: 1px solid rgba(46, 47, 66, 0.1);
  background-color: rgba(231, 233, 252, 0.1);
}
#burger-icon.open span:nth-child(1),
#burger-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger-icon.open span:nth-child(2),
#burger-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger-icon.open span:nth-child(1) {
  top: 9.5px;
  left: 6px;
  width: 30%;
  height: 1px;
}
#burger-icon.open span:nth-child(2) {
  top: 9.5px;
  left: calc(50% - 2px);
  width: 30%;
  height: 1px;
}
#burger-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#burger-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#burger-icon.open span:nth-child(5) {
  top: 12.5px;
  left: 6px;
  width: 30%;
  height: 1px;
}
#burger-icon.open span:nth-child(6) {
  top: 12.5px;
  left: calc(50% - 2px);
  width: 30%;
  height: 1px;
}

#burger-icon:hover span,
#burger-icon:active span {
  background-color: #4d5ae5;
}
/* /burger-by-spans */

.mobile-burger-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 52px 24px 40px 16px;
  padding-left: 10%; /* doesn`t exist in layout */
  background-color: #ffffff;
}

.burger-menu {
  display: block;
}
.burger-menu-link {
  display: block;
  padding: 20px 0;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.burger-menu-contacts {
  display: block;
  margin-bottom: 36px;
}
.burger-menu-contacts-link {
  display: block;
  padding: 12px 0;
  color: #434455;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.bottom-wrap .bigsymbol-social-links-list {
  max-width: 280px;
}
/* /burger-menu styles */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo,
.navigation-link {
  padding: 16px 0; /* in pc/tablet it`s 24, but for outline-offset - I`ll prefer to stay on 16 */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.navigation-menu {
  display: none;
  gap: 40px;
}

.navigation-link {
  color: #2e2f42;
  transition-property: color;
}

.marked,
.burger-menu-link:hover,
.burger-menu-link:focus,
.burger-menu-contacts-link:hover,
.burger-menu-contacts-link:focus,
.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.navigation-link.active {
  position: relative;
  color: #404bbf;
}

.navigation-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contacts-link {
  color: #434455;
  transition-property: color;
}

.logo {
  display: inline-block;
  margin-right: 76px;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: #2e2f42;
}

.contacts {
  display: none;
  color: #434455;
  font-weight: 400;
  font-style: normal;
}
/* ==== /Header styles ==== */

/* ==== Section styles ==== */
.section-hero-bg {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .section-hero-bg {
    background-image: url(../images/bg-hero_m.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero-bg {
      background-image: url(../images/bg-hero_m@2.jpg);
    }
  }
}

.section-hero {
  padding: 72px 0;
  background-color: rgba(46, 47, 66, 0.7); /* easily replaceable dimmer */
  text-align: center;
}

.section-hero-title {
  max-width: 216px;
  margin: 0 auto 72px;
  color: #ffffff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btn-order {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
}

.section-selfpromo-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.icon-container {
  display: none;
}

.section-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .section-subtitle {
    text-align: center;
  }
}

.paragraf-basic {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
}

.section-team {
  max-width: 1440px; /* will we limit such sections (as bg-image)? (doesn`t exist in technical task) */
  margin: 0 auto;
  background-color: #f4f4fd;
  text-align: center;
}

.section-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.section-team-card {
  min-width: 264px; /* seems best to set card width (stretches it weird) */
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-bottom-part {
  padding: 32px 0;
}

.team-card-bottom-part .section-subtitle {
  font-weight: 500;
  font-size: 20px;
}
.team-card-bottom-part .paragraf-basic {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
}

.team-social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-links-list-item {
  width: 40px;
  height: 40px;
}

.team-social-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition-property: background-color;
}

.team-social-links-link:hover,
.team-social-links-link:focus {
  background-color: #404bbf;
}
.team-social-links-link:active {
  background-color: #31d0aa; /* looks cool (doesn`t exist in layout) */
}

.section-portfolio-set {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.portfolio-card {
  max-width: 288px;
  transition-property: box-shadow;
}

.portfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .portfolio-card-overlay {
  transform: translatey(0);
}

.portfolio-card-top {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: transform;
  transform: translatey(100%);
}

.portfolio-card-bottom-part {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-portfolio .section-subtitle {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

.section-portfolio .paragraf-basic {
  font-weight: 400;
}

/* ==== /Section styles ==== */

/* ==== Footer styles ==== */
.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.page-footer .container {
  display: flex;
}

.footer-info-n-social-wrapper {
  display: flex;
}

@media screen and (max-width: 767px) {
  .page-footer .container {
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }

  .footer-info-n-social-wrapper {
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }

  .page-footer {
    text-align: center;
  }

  .footer-text {
    text-align: left;
  }
}

.page-footer .logo {
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  padding: 0;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text-title {
  display: block;
  color: #ffffff;
  font-weight: 500;
}

.footer-text {
  color: #f4f4fd;
}

.bigsymbol-social-links-list {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-right: auto;
}

.bigsymbol-social-links-item {
  width: 40px;
  height: 40px;
}

.bigsymbol-social-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
}

.bigsymbol-social-links-link:hover,
.bigsymbol-social-links-link:focus {
  background-color: #31d0aa;
}

.bigsymbol-icon-social {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-text-title {
  margin-bottom: 16px;
}

.footer-input {
  width: 288px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
}

.footer-subscribe-form input::placeholder {
  color: #ffffff;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
}

/* ==== /Footer styles ==== */

/* ==== Modal window ==== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility;
}
.backdrop::-webkit-scrollbar {
  display: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.ontop {
  z-index: 111111111;
}

.order-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 408px;
  max-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .order-modal-window {
    max-width: 90%;
    min-height: 623px;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media screen and (max-height: 639px) {
  .order-modal-window {
    top: 312px; /* 50% of height  */
  }
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition-property: background-color, border;
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
  outline: transparent;
}
.close-btn svg {
  transition-property: fill;
}
.close-btn:hover svg,
.close-btn:focus svg {
  fill: #ffffff;
}

.order-form-title {
  margin-bottom: 16px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-form {
  min-width: 360px;
  margin: 0 auto;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .order-form {
    min-width: 256px;
  }
}

.form-element {
  margin-bottom: 8px;
}

.order-form-label {
  margin-bottom: 4px;
}

.input-container {
  position: relative;
  transition-property: stroke;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transition-property: fill;
  transform: translateY(-50%);
}

.input-container input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
}

.icon-in-line {
  display: inline-block;
  margin-left: 16px;
}

.input-container:focus-within,
.order-form textarea:focus {
  fill: #4d5ae5;
}

.input-container:focus-within input,
.order-form textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.textaria-element {
  margin-bottom: 16px;
}

.form-comment-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition-property: border-color;
}

.form-comment-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.privacy-wrapper {
  position: relative;
  margin-bottom: 24px;
}

.custom-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition-property: background-color, border, fill;
  transform: translateY(-50%);
}

.check-input.visually-hidden:checked + .privacy-label .custom-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.privacy-label {
  margin-left: 24px;
}

.order-form-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.order-form-link:hover,
.order-form-link:focus {
  color: #404bbf;
}
.order-form-link:focus {
  border-radius: 4px;
  outline: 1px solid #404bbf;
}

.order-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition-property: background-color;
}
/* ==== /Modal window ==== */

@media print {
  /* here might be styles for print */
}
