@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }

  .logo,
  .navigation-link {
    padding: 24px 0;
  }

  .navigation-menu,
  .contacts {
    display: flex;
  }
  .mobile-only-burger-btn {
    display: none;
  }

  .logo {
    margin-right: 120px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .section-hero-bg {
    background-image: url(../images/bg-hero_t.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero-bg {
      background-image: url(../images/bg-hero_t@2.jpg);
    }
  }

  .section-hero {
    padding: 112px 0;
  }

  .section-hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }

  .section-selfpromo-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .section-selfpromo-item {
    width: calc((100% - 24px) / 2);
  }

  .section-team .container {
    max-width: 584px;
  }

  .section-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .section-portfolio-set {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: space-evenly; /* fits best */
    column-gap: 24px;
  }

  .portfolio-card {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  .portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .page-footer .container {
    display: block;
    max-width: 584px;
  }

  .footer-info-n-social-wrapper {
    margin-bottom: 72px;
  }

  .footer-text {
    max-width: 264px;
    margin-right: 24px;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-form-input-in-label {
    width: 264px;
  }
  .footer-input {
    width: 100%;
  }
}

/* ============================= */
/* ============= pc ============ */
@media screen and (min-width: 1158px) {
  .logo,
  .navigation-link,
  .contacts-link {
    padding: 24px 0;
  }

  .section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 0;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section-hero-bg {
    background-image: url(../images/bg-hero_p.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero-bg {
      background-image: url(../images/bg-hero_p@2.jpg);
    }
  }

  .section-hero {
    padding: 188px 0;
  }

  .section-hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
  }

  .section-selfpromo-ul {
    flex-direction: row;
    gap: 24px;
  }

  .section-selfpromo-item {
    width: 264px; /* seems best to set card width (stretches it weird) */
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }

  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
  }

  .paragraf-basic {
    font-weight: 400;
  }

  .section-team-list {
    flex-direction: row;
    gap: 24px;
  }

  .section-team-card {
    width: calc((100% - 72px) / 4);
  }

  .section-portfolio {
    padding: 120px 0 120px 0;
  }

  .section-portfolio-set {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-card {
    max-width: calc((100% - 48px) / 3);
  }

  .page-footer {
    padding: 100px 0;
  }

  .page-footer .container {
    align-items: baseline;
  }

  .container-footer-info {
    margin-right: 120px;
  }

  .container-footer-social {
    margin-right: 80px;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
    opacity: 1;
  }

  /* ==== Header styles ==== */
  .page-header .container,
  .navigation-menu,
  .contacts {
    display: flex;
  }
  .mobile-only-burger-btn {
    display: none;
  }

  .contacts {
    display: flex;
    gap: 40px;
  }
  /* ==== /Header styles ==== */
}
